

html,body{
	width:auto;
    min-width:1460px;
margin:0px;
	padding:0px;	/*1003px*/
}
body{
	
}
.top{
	
	background:url('images/asd.jpg') ;
	width:100%;
	height:130px;
	color:red;
	float:left;
	font-weight:bold;
	font-family: 'Moul', cursive;
	text-align: center;
}


.slider{
	top:-4px;
	position:relative;
}
.nav {
    margin-left: 20%;      
}
.addd{
	background:url('images/b2.png') ;
	
}
.text-section{
top:-24px;
}
.text{
	background:url('images/flowerbg.png') ;
	font-family: 'Hanuman', serif;
}

.text h3,ul{
	
	font-family: 'Hanuman', serif;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding:35px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ff3399;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.center{
	background:url('images/flowerbg.png') ;
}

.contact-info{
	width:600px;
	padding-top:10px;
	color:#ff3399;
	float:left;
	line-height: 0.8;
}

.contact-info h1{
	font-family: 'Moul', cursive;
}

.contact-info h1{
	font-family: 'Moul', cursive;
}
.contact-info h3{
	
	font-family: 'Hanuman', serif;
	line-height: 1;
}



.count-info{
	width:370px;
	margin-top:20px;
	color:#ff3399;
	float:left;
	font-size:12px;
	text-align: justify;
	text-justify: inter-word;
	border-bottom-style: dotted;
}

.co{
	border: 5px solid #ff3399;
	text-align:left;
}

.co h2{
	word-spacing: 10px;
	margin-left:5px;
	text-align:left;
}
.co h2,u{
	 text-align: justify; /* For Edge */
    -moz-text-align-last: right; /* For Firefox prior 58.0 */
    text-align-last: right;
}

.icon{
	margin-top:20px;
}

.footer{
	
	background:url('images/5.png') ;
	width:100%;
	float:left;
	font-weight:bold;
}

.footer a{
	color:#ff3399;
	font-size:12px;
}

.section{
	widows:100px;
	width:150px;
	height:370px;
	margin:20px;
}


<style>
@import url('https://fonts.googleapis.com/css?family=Hanuman');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Moul');
</style>

